@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.container {
  height: 100vh;
  width: 100%;
  background-color: #f3f5fd;
  left: 3.36px;
  border-radius: 19.11px;
}
h1 {
  font-weight: 600;
  text-align: center;
  font-size: 48px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 52.8px;
}
span {
  color: var(--Purple, #b138c9);
}
.text {
    margin: 0.5rem;
  color: #666666;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  gap:5rem;
    margin:2rem;
  /* background-color: #b138c9; */
  width: 1300px;
  height: 48px;
  & input {
    border: none;
    padding: 22.93px;
    top: 0.5px;
    height: 40px;
    border-radius: 95.55px;
    &::placeholder {
      font-size: 16px;
      color: #888888;
    }
  }

  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.icon {
    position: absolute;
  height: 4.53px;
  width: 4.53px;
  color: #253046;
  font-size: 25px;
  top: 14rem;
  right: 15rem;
}
.nav{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width:590px;
    height: 28.67px;
    /* gap: 20rem; */
    /* margin-top: -10rem; */
 
}
li{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 600;
    /* margin-top: 0rem; */
    margin: 1rem;
    /* width:587px; */
    height: 28.67px;
display: inline;
    list-style: none;
    & a{
        text-decoration: none;
        color: #222222;
      
    }
    
    & ul{
        padding:2rem;
    }
}
 a:hover{
  border: 1px solid blue;
  padding:1.5px;
  color: blue;
  border-radius: 10px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:677px;
    height: 28.67px;
    margin-right: 0.1rem;
}

.imgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin:10rem; */
  gap:32px;
  & img{
    height:266px;
    width:396px;
    border-radius: 16px;
  }
}
.imgContent{
  display: flex;
  justify-content: space-between;
 margin-top: 0.5rem;
  & .location{
    font-size: 16px;
    font-weight: 700;
  }

  & .rating{
    color:blue;
    & p{
      color:#222222;
      font-weight: 400;
    }
  }
}
.seperator{
  column-gap:10rem;
}
.btn{
  background-color: #0D28AB;
  height: 45px;
  width:134px;
  border-radius: 95px;
  color: #ffffff;
  border: none;
}
.btnContainer{
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}
.title{

  padding-top:5rem ;
}